:root {
    --primary: #4D5BBE; 
    --background: #F8F9FD;
    --background2: #FFFFFF;
    --text1: #292E4A;
    --text2: var(--background);
    --transparent_grey: #fffcfc2e;
    --clearPrimary: #ac86d23b; 
    --hand_icon: #ffa200;
    --new_icon: #52ba89;
    --msg_success: var(--new_icon);
    --alt-border: #c8c7c7;;
    --text3: var(--alt-border);
    --selected_card: #bfafff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F8F9FD;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

li {
    list-style: none;
}

.msg-container {
    position: fixed;
    top: 2rem;
    left: 0;
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 1;
}

.msg {
    border: 3px solid #000;
    width: 350px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -2rem auto;
    font-weight: 800;
}

.msg.msg-success {
    border: 3px solid white;
    background: var(--msg_success);
}

.disable {
    display: none;
}

.container {
    padding: 2rem 1rem;
    max-width: 960px;
    margin: 0 auto;
    overflow-x: hidden;
}

.btn {
    background: none;
    cursor: pointer;
}

.date-card {
    display: flex;
    flex-direction: column;
    width: 3rem;
    justify-content: center;
    align-items: center;
    padding: 4px;
    border-radius: 20%;
    font-size: 15px;
    background: var(--transparent_grey);
}

.date-card strong {
    font-size: 18px;
}

/* App Header */
.app-header {
    background: var(--primary);
    color: var(--text2);
    box-shadow: 2px 2px 16px 2px #00000030;  
}

.app-header .btn {
    color: var(--text2);
    border: none;
}

.app-header .navigation {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.app-header .navigation .btn-toggle {
    font-size: 1.5rem;
}

.app-header .navigation .user-area {
    width: 3rem;
}

.app-header .navigation .user-area img {
    width: 100%;
    border-radius: 50%;
}

.app-header .mid-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}

.app-header .calendar-title {
    margin-bottom: 1rem;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
}

.app-header .date-card.active {
    background: var(--background);
    color: var(--primary);
    border: none;
}

.app-header .calendar {
    display: flex;
    width: 100%;
    overflow-x: scroll;
}

.app-header .calendar::-webkit-scrollbar {
    width: 0 !important
}


.app-header .calendar .date-card {
    margin-right: 20px;
    min-width: 50px;
}


/* App Main */
.app-main .tasks ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.app-main .tasks ul li {
    width: 100%;
    font-weight: 700;
    font-size: 1.4rem;
    text-align: center;
    min-height: 36px;
    cursor: pointer;
}

.app-main .tasks ul li:hover,
.app-main .tasks ul li.active {
    border-bottom: 3px solid var(--primary);
}

.app-main .tasks ul li .count {
    background: var(--clearPrimary);
    padding: 2px 6px;
    font-size: 1rem;
    border-radius: 5px;
}

.app-main .task-content {
    margin: 1rem 0;
}

.app-main .task-content .task-card {
    height: 70px;
    border-radius: 15px;
    background: var(--background2);
    box-shadow: 2px 2px 16px 1px #33249734;
    margin: 1.5rem 0;
    position: relative;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}

.app-main .task-content .task-card:hover {
    background: var(--selected_card);
}

.app-main .task-content .task-card .new {
    background: var(--new_icon);
    position: absolute;
    top: -12px;
    padding: 3px;
    font-size: .8rem;
    font-weight: 600;
    color: var(--text2);
}

.app-main .task-content .task-card p {
    font-size: .854rem;
    color: var(--primary);
}

.app-main .task-content .task-card .right {
    font-size: 2rem;
    color: var(--hand_icon);
}

/* App Footer */
.app-footer .btn#add_new-task {
    position: fixed;
    bottom: 2rem;
    right: 1rem;
    background: var(--primary);
    font-size: 3rem;
    min-width: 60px;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 16px 2px #00000037;
    display: block;
    margin-left: auto;
    color: var(--text2);
}

.app-footer .task-modal {
    position: absolute;
    left: 0;
    bottom: 0;
    background: var(--background2);
    border-radius: 2rem 2rem 0 0;
    padding: 1rem;
    width: 100%;
}

.app-footer .task-modal .btn-close {
    border: none;
    color: var(--text3);
    font-size: 1.5rem;
    position: absolute;
    right: 0;
    margin-right: 1rem;
}

.app-footer .task-modal h2 {
    text-align: center;
    margin: 1rem 0;
    font-size: 1.7rem;
    font-weight: 800;
}

.app-footer .task-modal .add_new-container {
    display: flex;
    flex-direction: column;
}

.app-footer .task-modal .add_new-container input, 
.app-footer .task-modal .add_new-container textarea {
    margin: 1rem 0;
    padding: 10px;
    font-size: 1rem;
    border-radius: 10px;
    border: 1px solid var(--alt-border);
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.app-footer .task-modal .add_new-container textarea {
   height: 130px
}

.app-footer .task-modal .add_new-container .priority {
    margin-left: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: var(--text3);
}

.app-footer .task-modal .add_new-container .priority input {
    margin-left: 5px;
}

.app-footer .task-modal .btn-options {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.app-footer .task-modal .btn-options .btn {
    border: 1px solid var(--alt-border);
    padding: 15px;
    border-radius: 10px;
    color: var(--text3);
}

.app-footer .task-modal .btn-options .btn-active {
    background: var(--primary);
    color: var(--text2)
}

.app-footer .task-modal .btn-m { 
    background: var(--primary);
    color: var(--text2);
    padding: 1rem;
    border: none;
    box-shadow: 1px 1px 6px 1px #00000030;
    border-radius: 10px;
}

/* Effects */
.opacity {
    opacity: .6;
    pointer-events: none;
}

.disable {
    display: none;
}

@media only screen and (min-width: 960px) {
    .app-footer .btn#add_new-task {
        position: relative;
    }
}